body {
  margin: 0;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: var(1rem);
  font-weight: var(400);
  line-height: var(1.5);
  color: #3c3939;
  text-align: var(start);
  background-color: #dbdedead;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#layout {
  font-family: var(system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji");
  background: #dbdedead;
  border-radius: 4px;
  padding: 20px 5px 50px;
  font-size: 25px;
  text-align: center;
  transition: all 0.2s;
  margin: 0 auto;
  width: 600px;
}

input {
  height: 25px;
}

#search_text {
  width: 500px;
}

button {
  border-radius: 10px;
  background: #0084ff;
  border: none;
  padding: 8px 14px;
  color: #fff;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
[role=button] {
  cursor: pointer;
}

#results {
  display: none;
  white-space: pre-wrap;
}

#results table {
  font-family: var(system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji");
  width: 100%;
  margin-bottom: 1rem;
  color: #3c3939;
  vertical-align: top;
  border-color: transparent;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}
.table > thead {
  vertical-align: bottom;
}
th{
  margin-bottom:      spacer * .5;
  font-family:        system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: medium;
  font-weight:        500;
  line-height:        1.2;
  color:              inherit;
  border-color: inherit;
  border-style: solid;
  border-width: 0;
  text-align: inherit;
  text-align: -webkit-match-parent;
}
td{
  margin-bottom:      spacer * .5;
  font-family:        system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: medium;
  font-weight:        500;
  line-height:        1.2;
  color:              inherit;
  border-color: inherit;
  border-style: solid;
  border-width: 0;
}
